import React from "react";

const {{pascalCase formName}}Form = () => {
  return (
    <form>
      {{#each inputs}}
      <{{this}} />
      {{/each}}
      <button type="submit">Submit</button>
    </form>
  );
};

export default {{pascalCase formName}}Form;
